<!DOCTYPE html>
<html>
  <head>
    <title>Scare Bnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaEg5i6jr2mJ1vrkkmCCyYeAFELgjkajM" charset="utf-8"></script>
        <script src="sweetalert2.all.min.js"></script>


  </head>
  <body>



    <%= yield %>
  </body>
</html>


